.options-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 10px;
  margin: 100px auto;
  width: 1200px;
  max-width: 1200px;
  justify-content: start;
}




.option {
  border: 1px solid #ccc;
  width: 587px;
  max-width: 700px;
  height: 217px;
  cursor: pointer;
    border-radius: 18px;
    margin-right: 300px;

}

.option__selected {
  border: 2px solid blue;
  width: 587px;
  max-width: 700px;
  height: 217px;
  border-radius: 18px;
  
}





.Choices__one{
  @apply ml-[12px] gap-[20px]
}
.Choices__one h1 {
  @apply  mt-[25px] text-2xl
}
.Choices__one p{
  @apply mt-[20px] text-xl w-[400px] text-left text-gray-400
}

.Three__Step {
  @apply  w-[1200px] h-[807px] mt-[112px] 
}

.Three__Step h1 {
  @apply text-[32px]

}

.First__step {
  @apply w-[1200px] h-[160px] flex items-center;
}
.Second__step {
  @apply w-[1200px] h-[160px] flex items-center mt-[40px];
}
.Thrid__step {
  @apply w-[1200px] h-[160px] flex items-center mt-[40px];
}

.text {
  @apply w-[747px] h-[106px] text-left ml-[20px];
}

.text h1 {
  @apply text-xl text-gray-400 mt-[13px];
}
.text h3 {
  @apply text-2xl;
}
.text p {
  @apply text-xl  text-gray-400;
}

.One__icons {
  @apply mt-[25px];
}


.title  {
  @apply   w-[630px] pt-[190px]
}

.title  h5 { 
  @apply text-[32px] pt-[19px]
}

.container {
  @apply max-w-[1200px] m-auto
}