@import "./assets/fonts/Quicksand/stylesheet.css";

@font-face {
    font-family: 'Montserrat'; /* Название вашего шрифта */
    src: url('../src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('woff2'),
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand, sans-serif;
}

input[type=password]::-ms-reveal, input[type=password]::-ms-clear {
    display: none;
}

.ant-modal-content {
    padding: 0 !important;
    border-radius: 45px !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
